@model DataBase.Models.Service

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Service</h1>

<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit">
            <input type="hidden" asp-for="ServicesId" />

            <div class="form-group">
                <label asp-for="ServicesName"></label>
                <input asp-for="ServicesName" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="Price"></label>
                <input asp-for="Price" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="Description"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
            </div>

            <div class="form-group">
                <label asp-for="ServiceImg">Image URL</label>
                <input asp-for="ServiceImg" class="form-control" />
                @if (!string.IsNullOrEmpty(Model.ServiceImg))
                {
                    <img src="@Model.ServiceImg" alt="Service Image" class="img-thumbnail mt-2" style="max-width: 200px;" />
                }
            </div>

            <button type="submit" class="btn btn-primary mt-3">Save</button>
            <a asp-action="Index" class="btn btn-secondary mt-3">Back to List</a>
        </form>
    </div>
</div>
